/*Phone*/

#footer {
	position: 0;
	bottom: 0;
}

.wrap {
	position: relative;
}

.description {
	text-align: center;
	font-size: 22px;
	position: absolute;
	margin: 0;
	padding: 0;
	padding-top: 30%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(76, 76, 76, 0.9);
	border-radius: 5px;
	color: #fff;
	visibility: hidden; 
	opacity: 0; 
	-webkit-transition: opacity 0.2s;
}

.wrap:hover .description {
  visibility: visible;
  opacity: 1;
}

.navbar {
	border: none;
	margin-bottom: 0px;
	background-color: transparent;
}

.navbar-collapse {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-nav {
	margin-right: 4%;
	font-size: 1.1em;
	padding-top: 3px;
	padding-bottom: 8px;
}

.navbar-default .navbar-toggle {
	margin-top: 17px;
}

.navbar-nav>li>a {
	padding-top: 20px;
}

.navbar-default .navbar-nav>li>a {
	color: black;
	font-weight: 300;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: white;
}

.logo {
    width: 200px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}

html, body {
  	font-family: 'Lato', sans-serif;
    color: black;
    /*margin-left: 1%;
    margin-right: 1%;*/
    text-align: center;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.header {
	font-size: 3.875em; /*62/16*/
	color: black;
	font-weight: 400;
	margin-left: 1%;
    margin-right: 1%;
}

.menu {
	font-size: 1.875em; /*30/16*/
	font-weight: 300;
	margin-left: 100px;
    margin-right: 100px;
}

h1 {
	font-size: 2.625em; /*42/16*/
	margin: 0;
}

h2 {
	font-size: 2.0625em; /*27/16*/
	font-weight: 300;
	color: #646262;
	margin: 0;
}

h3 {
	float: left;
	margin-left: 4%;
	color: black;
}

h4 {
	padding-top: 24px; 
	text-align: center; 
	margin: 0% 4% 0% 4%;
    font-size: 42px;
    color: black;
    font-weight: 300;
}

table {
	width: 100%;
}

td, th {
	width: 100%;
	display: inline-block;
	margin-top: 1%;
  	margin-bottom: 1%;
}

.footer {
	padding-top: 10px; */
	font-size: 1.1875em;
	font-weight: 300;
	color: white;
	padding: 3%;
	background-color: #464042;
	font-size: 15px;
}

p {
	text-align: left;
	margin-top: 5%;
	margin-bottom: 5%;
	font-weight: 300;
	font-size: 1.1875em; /*19/16*/
	padding-left: 3%;
  	padding-right: 3%;
}

.screenshot {
	width: 80%;
	margin: 2% 0% 2% 0%;
	border-style: solid;
	border-width: 1px;
	border-color: grey; 
}

.imgmedium {
	width: 80%;
	margin: 2% 0% 2% 0%;
}

.imglarge {
	width: 80%;
	margin: 2% 0% 2% 0%;
}

/*This is going to cause a headache when you're doing responsive*/
.imgsmall {
	width: 80%;
	margin: 2% 0% 2% 0%;
}

.screenshot_b {
	width: 80%;
	margin: 2% 0% 2% 0%;
	border-style: solid;
	border-width: 1px;
	border-color: grey; 
}

.btn {
	font-weight: 300;
}

/*Tablet*/
@media (min-width: 768px) { 
.navbar-nav {
	float: right;
}

}

/*Desktop*/
@media (min-width: 992px) {

html, body {
  	/*font-family: 'Lato', sans-serif;
    color: black;*/
    /*margin-left: 30px;
    margin-right: 30px;*/
    /*text-align: center;*/
    /*background-image: url("/users/danielpeterschmidt/dpeterschmidt.github.io/LJ/images/home.jpg");
    background-size: 100%;*/
}

.navbar-nav {
	float: left;
	margin-left: 2%;
	font-size: 1.1em;
}

.header {
	/*font-size: 3.875em;*/ /*62/16*/
	/*color: black;
	font-weight: 400;*/
	/*margin-left: 5%;
    margin-right: 5%;*/
}

.menu {
	/*font-size: 1.875em; /*30/16*/
	/*font-weight: 300;
	margin-left: 100px;
    margin-right: 100px;*/
}

h1 {
  margin: -36% 20% 0% 20%;
  font-size: 50px;
  color: white;
  border-style: solid;
  border-width: 5px;
  padding: 1% 1% 1% 1%;
  position: absolute;
}

h2 {
	text-align: center;
	font-size: 51px;
	padding-top: 30px;
	font-weight: 400;
}

td, th {
	width: 29%;
	margin: 2% 2% 2% 2%;
	font-size: 28px;
	font-weight: 300;
}

/*.blarge {
	font-size: 4.625em; 
	color: white;
	background-color: #4C4C4C;
	background-image: url("/users/danielpeterschmidt/desktop/ama.png");
	border-radius: 8px;
	margin: 5px;
	display: block;

	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}*/

/*.blarge:hover, .blarge:focus, .blarge:active {
	background-color: #E74968;
}*/

/*.desc {
	font-size: 0.4459459459em; 
	font-weight: 300;
	padding-bottom: 15px;
}*/

.bsmallr {
	font-size: 4.625em; 
	color: white;
	background-color: #4C4C4C;
	border-radius: 4px;
	width: 35%;
	margin-left: 10%;
	margin-right: 10%;
	float: left;
	/*background-image: url("/users/danielpeterschmidt/desktop/itunes.png");*/
	display: block;

	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}

.bsmallr:hover, .bsmallr:focus, .bsmallr:active {
	background-color: #55A7E9;
}

.bsmalll {
	font-size: 4.625em; 
	color: white;
	background-color: #4C4C4C;
	border-radius: 4px;
	width: 35%;
	margin-left: 10%;
	margin-right: 10%;
	/*float: right;*/
	/*background-image: url("/users/danielpeterschmidt/desktop/ftt.png");*/
	display: block;

	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}

.bsmalll:hover, .bsmalll:focus, .bsmalll:active {
	background-color: #61E685;
}

/*p {
	text-align: left;
	margin-top: 2%;
	margin-bottom: 2%;
	font-weight: 300;
	font-size: 1.45em; 
	padding-right: 30%;
}*/


p {
	margin-left: 10%;
 	margin-right: 35%;
 	margin-top: 1%;
 	margin-bottom: 1%;
 	display: inline-block;
 	padding-left: 0%;
  	padding-right: 0%;
}

.screenshot {
	display: inline-block;
	width: 37%;
	margin: 1% 60% 1% 10%;
	border-style: solid;
	border-width: 1px;
	border-color: grey; 
}

.imgmedium {
	display: inline-block;
	width: 46%;
	margin: 1% 60% 1% 10%;
	border-radius: 5px;
}

.imglarge {
	display: inline-block;
	width: 65%;
	margin: 1% 60% 1% 10%;
}

/*Issues*/
.imgsmall {
	width: 32%;
	display: inline-block;
	margin: 1% 8% 1% -7%;
}

.screenshot_b {
	display: inline-block;
	width: 37%;
	margin: 1% 60% 1% 10%;
	border-style: solid;
	border-width: 1px;
	border-color: grey; 
}
}

/*Big Desktop*/
@media (min-width: 1290px) {

}



@font-face {
    font-family: 'si';
    src: url('/socicon.eot');
    src: url('/socicon.eot?#iefix') format('embedded-opentype'),
         url('/socicon.woff') format('woff'),
         url('/socicon.ttf') format('truetype'),
         url('/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(PATH_TO/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 15px;
    color: #ffffff;
    background-color: none;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}
.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-youtube {
    background-color: #e02a20;
}
.soc-youtube:before {
    content:'r';
}