/*Phone*/

.juicer-feed .j-meta a {
	display: none;
}

.juicer-feed.loaded {
    padding: 0% 4% 0% 0%;
    max-width: 78%;
}

.mobile {
	display: inline;
}

.active {
	font-weight: 400;
}

.navbar {
	border: none;
	margin-bottom: 0px;
	background-color: transparent;
}

.navbar-collapse {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-nav {
	margin-right: 4%;
	font-size: 1.1em;
	padding-top: 3px;
	padding-bottom: 8px;
}

.navbar-default .navbar-toggle {
	margin-top: 17px;
}

.navbar-nav>li>a {
	padding-top: 20px;
}

.navbar-default .navbar-nav>li>a {
	color: black;
	font-weight: 300;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: white;
	font-weight: 700;
}

.nav-pills>li.active>a {
	background-color: transparent;
    font-weight: 400;
    color: black;
}

.nav-pills>li.active>a:hover {
	background-color: transparent;
    color: black;
}

html, body {
  	font-family: 'Josefin Sans', sans-serif;
    color: black;
    text-align: center;
	background-color: rgb(246, 246, 246);
	height: 100%;

}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.header {
	font-size: 3.875em; /*62/16*/
	color: black;
	font-weight: 400;
	margin-left: 1%;
    margin-right: 1%;
}

.menu {
	font-size: 1.875em; /*30/16*/
	font-weight: 300;
	margin-left: 100px;
    margin-right: 100px;
}

h1 {
	font-size: 2.625em; /*42/16*/
	margin: 0;
}

h2 {
    font-size: 2.9625em;
    font-weight: 300;
    color: black;
    margin: 0% 2% 0% 2%;
}

h3 {
	font-weight: 300;
	font-style: italic;
	color: black;
	text-align: center;
	font-size: 20px;
	margin-bottom: 28px;
}

h4 {
	font-size: 22px;
	margin-top: 6%;
	margin-left: 4%;
	float: left;
	font-weight: 600;
}

table {
	width: 100%;
}

td, th {
	width: 33%;
	display: inline-block;
	margin-top: 1%;
  	margin-bottom: 1%;
}

label {
	font-weight: 300;
	text-align: left;
	display: flex;
}

.footer {
	padding-top: 10px; 
	font-size: 1.1875em;
	font-weight: 300;
	color: black;
	padding: 2%;
	/*background-color: rgb(246, 246, 246);*/
	background-color: transparent;
	font-size: 15px;
}

p {
	text-align: left;
	margin-top: 5%;
	margin-bottom: 5%;
	font-weight: 300;
	font-size: 1.1875em; /*19/16*/
	padding-left: 3%;
  	padding-right: 3%;
}

.screenshot {
	width: 80%;
	margin: 2% 0% 2% 0%;
	border-style: solid;
	border-width: 1px;
	border-color: grey; 
}

.imgmedium {
	width: 80%;
	margin: 2% 0% 2% 0%;
}

.imglarge {
	width: 80%;
	margin: 2% 0% 2% 0%;
}

.imgsmall {
	width: 80%;
	margin: 2% 0% 2% 0%;
}

.screenshot_b {
	width: 80%;
	margin: 2% 0% 2% 0%;
	border-style: solid;
	border-width: 1px;
	border-color: grey; 
}

.form-group {
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	font-weight: 300;
}

.form-control {
	width: 100%;
}

.btn {
	margin-bottom: 14px;
	margin-left: 5%;
}

.tour {
	background-color: white;
	margin-top: 35%;
	position: relative;
}

a {
	color: black;
}

a:hover {
	color: black;
	text-decoration: none;
}

.title {
	font-size: 70px;
	font-weight: 400;
}

.btn {
	font-weight: 300;
	padding: 8px 61px;
}

.btn-group {
	/*margin: 1% 0% 0% 3%;*/
}

.pull-left {
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}

.poster {
	width: 90%;
    text-align: left;
    margin: 3% 5% 3% 5%;
}

.embed-container{
	max-width: 93%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.footer, .push {
	height: 4em;
}

/*Tablet*/
@media (min-width: 768px) { 
.navbar-nav {
	float: right;
}

.nav {
    margin-left: 88%;
}

.mobile {
	display: none;
}

h2 {
	text-align: left;
	font-size: 51px;
	color: black;
	margin-left: 2.5%;
	margin-top: -1%;
}

h3 {
	margin-left: 3%;
	margin-right: 50%;
	font-weight: 300;
	font-style: italic;
	color: black;
	text-align: left;
	font-size: 20px;
	margin-bottom: 28px;
}

ol, ul {
	margin-top: 0;
	/*margin-bottom: 10px;*/
	list-style-type: none;
	text-align: right;
	position: fixed; /*comment*/
	/*display: inline-block;*/
	top: 5%; /*comment*/
	padding-left: 88%;
	font-weight: 100;
	line-height: 21px;
}

li:hover {
	background-color: transparent;
}

.form-group {
	text-align: left;
	margin-left: 3%;
	font-weight: 300;
}

.form-control {
	width: 83%;
}

.btn {
	margin-left: 3%;
}

.title {
	text-align: left;
	font-weight: 300;
	font-size: 70px;
	position: fixed;
	color: black;
	padding-left: 3%;
	margin-top: -2%;
}

.poster {
	width: 85%;
    margin: 3% 8% 3% 0%;
}

}

/*Desktop*/
@media (min-width: 992px) {

html, body {
    /*background-image: url("/LJ/images/background.png");
    background-size: 100%;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-y: 8.8%;*/
}

.navbar-nav {
	float: right;
	margin-left: 2%;
	font-size: 1.1em;
}

.title {
	text-align: left;
	font-weight: 400;
	font-size: 95px;
	position: fixed;
	color: black;
	padding-left: 3%;
}

h1 {
  margin: -36% 20% 0% 20%;
  font-size: 50px;
  color: white;
  border-style: solid;
  border-width: 5px;
  padding: 1% 1% 1% 1%;
  position: absolute;
}

td, th {
	width: 29%;
	margin: 2% 2% 2% 2%;
	font-size: 28px;
	font-weight: 300;
}


p {
	margin-left: 10%;
 	margin-right: 35%;
 	margin-top: 1%;
 	margin-bottom: 1%;
 	display: inline-block;
 	padding-left: 0%;
  	padding-right: 0%;
}

td, th {
	width: 29%;
}

.form-group {
	text-align: left;
	margin-left: 3%;
	font-weight: 300;
}

.form-control {
	width: 50%;
}

.btn {
	margin-bottom: 14px;
	margin-left: 3%;
}

.pull-left {
    float: left!important;
	display: inline-block;
	margin-left: 5%;
	margin-right: 70%;
	margin-bottom: 2%;
}

.poster {
	width: 80%;
    margin: 3% 8% 3% 0%;
}

.embed-container{
	max-width: 88%;
}
}



@font-face {
    font-family: 'si';
    src: url('/socicon.eot');
    src: url('/socicon.eot?#iefix') format('embedded-opentype'),
         url('/socicon.woff') format('woff'),
         url('/socicon.ttf') format('truetype'),
         url('/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
    margin-top: 31%;
    margin-left: -2%;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 63px;
    height: 63px;
    line-height: 63px;
    font-size: 34px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /*margin-right: 10px;*/
    color: black;
    background-color: rgb(246, 246, 246);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-facebook:before {
    content:'b';
}
.soc-youtube:before {
    content:'r';
}
.soc-instagram:before {
    content:'x';
}
.soc-spotify:before {
    content:'o';
}






